.ListItem {
    display: flex;
    text-align: left;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    max-width: 500px;
    word-wrap: break-word; 
  }

.button {
    display: inline-block;
    background: #5b548a;
    color: #fff;
    padding: 5px 5px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: auto;
}

listSpacing {
  margin-top: 20px;
}

.buttonspace {
  display: inline-block;
  background: #5b548a;
  color: #fff;
  padding: 5px 5px;
  border-radius: 30px;
  cursor: pointer;
  margin-left: auto;
  margin-top: 5px;
}


